<section class="login-form-container">
    <div class="login-form-content">
      <div class="container-header-image">
        <img src="../../../assets/frvt.jpg" alt="Header Image" class="header-image">
      </div>
      <h1>Registro de Usuario</h1>
      <h3>Sistema de Gestion de Mantenimiento FRVT</h3>
  
      <label for="username">Usuario</label>
      <input id="username" type="text" placeholder="Ingrese su Usuario">

      <label for="tipoUsuario">Tipo de Usuario</label>
        <select class="tipoUsuario" id="tipoUsuario" name="tipoUsuario">
            <option value="operario">Operario</option>
            <option value="admin">Administrador</option>
        </select>
  
      <label for="password">Contraseña</label>
      <input id="password" type="password" placeholder="Ingrese su Contraseña">
  
      <button class="login-button">Registrar</button>
    </div>
  </section>
