
<section class="generar-orden-container">
    <div class="form-header">
        <div class="back-arrow" (click)="goBack()">
            <img src="../../../assets/arrow.png" alt="Back">
          </div>
      <div class="form-title">
        <h2>Generar Orden de trabajo</h2>
        <p>Complete los siguientes datos para solicitar el trabajo</p>
      </div>
    </div>
  
    <div class="form-body">
      <div class="form-group">
        <label for="operario"> Operario:</label>
        <select id="operario" class="form-control">
          <option value="">Seleccione un operario</option>
   
        </select>
      </div>
  
      <div class="form-group">
        <label for="edificio"> Edificio:</label>
        <select id="edificio" class="form-control">
          <option value="">Seleccione un edificio</option>

        </select>
      </div>
  
      <div class="form-group">
        <label for="piso"> Piso/Nivel:</label>
        <select id="piso" class="form-control">
          <option value="">Seleccione un piso o nivel</option>

        </select>
      </div>
  
      <div class="form-group">
        <label for="sector"> Sector:</label>
        <select id="sector" class="form-control">
          <option value="">Seleccione un sector</option>

        </select>
      </div>
  
      <div class="form-group">
        <label for="ubicacion"> Ubicación:</label>
        <select id="ubicacion" class="form-control">
          <option value="">Seleccione una ubicación</option>

        </select>
      </div>
  
      <div class="form-group">
        <label for="tipoActivo"> Tipo de Activo:</label>
        <select id="tipoActivo" class="form-control">
          <option value="">Seleccione un tipo de activo</option>
  
        </select>
      </div>
  
      <div class="form-group">
        <label for="instrucciones">Instrucciones de la Tarea:</label>
        <textarea id="instrucciones" class="form-control" placeholder="Escriba las instrucciones de la tarea"></textarea>
      </div>
  
      <button class="submit-button">Enviar Solicitud</button>
    </div>
  </section>
  