<section class="container">
    <div class="header">
      <div class="back-arrow" (click)="goBack()">
        <img src="../../../assets/arrow.png" alt="Back">
      </div>
      <div class="header-text">
        <h2>Historial Ordenes de Trabajo</h2>
      </div>
    </div>
    
    <div class="card">
      <div class="text-card">
        <h3>Buscar ordenes</h3>
        <input class="busqueda" placeholder="Activo o Sector" type="text">
        <button class="boton-busqueda">Buscar</button>
      </div>
    </div>

    <div class="card">
        <div class="text-card">
          <h3>Ordenes de Trabajo</h3>

        </div>

        <div class="solicitud-item">
            <div class="solicitud-info">
              <p class="solicitud-title">ILUM - Iluminacion</p>
              <small>Aula 17</small>
            </div>
            <span class="solicitud-id">#00001</span>
          </div>

      </div>
      
  </section>
  



