<section class="orden-trabajo-container">
    <div class="header">
      <div class="back-arrow" (click)="goBack()">
        <img src="../../../assets/arrow.png" alt="Back">
      </div>
      <div class="header-text">
        <h2>Orden de Trabajo de Mantenimiento</h2>
        <p># ILUM-00100208100101-566</p>
      </div>
    </div>
    
    <div class="detalle-tarea">
      <div class="text-detalle-tarea">
        <h3>Cambio de foco</h3>
        <p class="fecha">30/09/2024</p>
      </div>
      <div class="info">
        <div>
          <strong>Solicitante: </strong> César Barrionuevo
        </div>
        <div>
          <strong>Edificio: </strong> 001 - Laprida 651 - UTN FRVT
        </div>
        <div>
          <strong>Piso/Nivel: </strong> 002 - Primer Piso
        </div>
        <div>
          <strong>Sector: </strong> 081 - Aula 17
        </div>
        <div>
          <strong>Tipo de Activo: </strong> 001 - Iluminación
        </div>
        <div>
          <strong>Estado de la Tarea: </strong> <span class="estado-pendiente"> Pendiente</span>
        </div>
      </div>
      <h4>Instrucciones de la Tarea</h4>
      <textarea placeholder="Cambiar foco en aula 17"></textarea>
  
      <button class="finalizar-button">Finalizar Tarea</button>
    </div>
  </section>
  
